# Projeto 1 - Ciência dos Dados

Nome: Fernando Giuseppe Avila Beltramo

## Pergunta (s) a ser respondida

Q1: Países que se juntam ao Digital 9 tiveram aumento notável em usuários da internet?

## Explicação da hipótese e mecanismo

O Digital 9 (Digital 5 até 2018) é uma rede colaborativa de E-Governments com o objetivo comum de melhorar a vida dos cidadãos através do emprego de tecnologia digital. Pode-se inferir que países membros deste grupo possuam níveis de acessibilidade à Internet elevados.

>Mais sobre o Digital 9: https://www.digital.govt.nz/digital-government/international-partnerships/the-digital-9/

>Mais sobre o Digital 5: https://www.digital.govt.nz/digital-government/international-partnerships/the-digital-9/d5-summit/

## Bases de dados usadas

Pessoas usando a Internet (%):

>Site - https://data.worldbank.org/indicator/IT.NET.USER.ZS

>Excel - http://api.worldbank.org/v2/en/indicator/IT.NET.USER.ZS?downloadformat=excel

## Análise de dados

Insira abaixo uma análise de dados tratada para ter maior clareza. 

Lembre-se de que, além deste arquivo principal, você precisa entregar um ou mais *notebooks* mais brutos com todas as tentativas que fez e que não deram certo .

**Não inclua dados ou gráficos sem motivação nem interpretação** - sempre que fizer uma análise, plot ou tablea, diga qual sua intenção. Logo após a apresentação diga qual conclusão específica ou interpretação você tira daquela análise

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

dados = pd.read_excel('Individual_usign_internet.xls')

del dados["World Development Indicators"]
del dados["Unnamed: 2"]
del dados["Unnamed: 3"]

header = dados.iloc[2,0:]

for valor in range(1,len(header)):
    header[valor] = int(header[valor])

dados = dados.drop([0,2])

paises = ["Estonia", "Israel", "New Zealand", "United Kingdom", "Korea, Rep."]

dados_v2 = dados

dados_v2 = dados_v2.drop(1)

dados_v2 = dados_v2.rename(columns = header)

dados_v2 = dados_v2.reset_index(drop = True)

indice = dados_v2.iloc[0:,0]

dados_v2 = dados_v2.rename(index = indice)

del dados_v2["Country Name"]

dados_v3 = dados_v2.loc[paises[:]]

dados_v3 = dados_v3.dropna(axis = "columns")

dados_v3

,1990,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Estonia,0.000000,0.065485,0.300711,1.159751,2.778968,3.525111,5.706277,10.796035,14.500897,28.576954,...,70.58,72.50,74.10,76.500000,78.389926,80.004300,84.241528,87.237332,87.237332,88.102457
Israel,0.110774,0.310579,0.398833,0.576966,0.930423,2.168368,4.399405,10.307070,13.436122,20.873790,...,59.39,63.12,67.50,68.873878,70.800000,70.250312,75.017753,77.352090,79.653124,81.581184
New Zealand,0.000000,0.285941,0.631215,3.168719,4.884241,8.041899,14.601524,31.636261,41.494483,47.379557,...,72.03,79.70,80.46,81.230000,81.644470,82.780000,85.500000,88.222889,88.470186,90.811093
United Kingdom,0.087355,0.260615,0.519762,1.036609,1.895168,4.123650,7.385399,13.669983,21.293638,26.821754,...,78.39,83.56,85.00,85.379999,87.479998,89.844100,91.610000,92.000300,94.620000,94.620000
"Korea, Rep.",0.023265,0.098404,0.249947,0.311359,0.819687,1.624237,3.600802,6.781815,23.552194,44.700000,...,81.00,81.60,83.70,83.759120,84.070000,84.770000,87.556826,89.900000,92.843026,95.097149

## Conclusão

Responda à pergunta, argumento da melhor forma possível com base nos dados